<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- type="image/x-icon" -->
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="x-icon" href="img/favicon.ico">
    <title>PhotoVisual-ArtHub</title>
</head>
<body><h1>chatOLT</h1>
    <form action="/" method="post">
            <tr>
                <td>Please enter your question : </td><br><br>
                <td><input type="text" name="question"></td><br>
            </tr>
            <tr>
                <td><input type="submit" value="Enter"></td>
                    <td><h4>The reply is :  {{result}}</h4>
                    <ul> 
                    <li>This is helpful</li>
                    <li>This is just a start</li>
                    <li>KEEP UPDATING</li>
                    <a href="https://imagegpt-oliveryfaso.onrender.com" target="_blank">Try Image_GPT</a><br>
                    <a href="https://chat-gpt-next-web-six-omega-10.vercel.app/#/chat" target="_blank">Try chat_GPT</a>
                    <br><br>
                </ul></td>
            </tr>
    </form>
</body>
</html>